/*
 * このファイルはバージョンアップの時に上書きされるので
 * カスタマイズしたい場合はhta-custom.cssと言う名前のファイルを作りそちらを編集する。
 */


/*
 * BIZ UDゴシックはWin10 1809から
 */
body {
	font-family: "BIZ UDPGothic", "Meiryo UI", sans-serif;
	line-height: 112.5%;
	white-space: nowrap;
}
#warning {
	color: red;
}
#info {
	font-family: "BIZ UDGothic", "Lucida Console", monospace;
}
h2 {
	font-size: 100%;
	font-weight: normal;
}
dd {
	font-family: "BIZ UDGothic", "Meiryo", monospace;
	margin-left: 0;
}
