/*
 * このファイルはバージョンアップの時に上書きされるので
 * カスタマイズしたい場合はhta-custom.cssと言う名前のファイルを作りそちらを編集する。
 */


/*
 * Yu Gothic UIはWin10 1507から
 * UDデジタル教科書体はWin10 1709から
 * BIZ UDゴシックはWin10 1809から
 */
body {
	font-family: "BIZ UDPGothic", "UD Digi Kyokasho NK-R", "Meiryo UI", "Yu Gothic UI", sans-serif;
	line-height: 112.5%;
	white-space: nowrap;
}
#warning {
	color: red;
}
#info {
	font-family: "BIZ UDGothic", "UD Digi Kyokasho N-R", "Lucida Console", monospace;
}
h2 {
	font-size: 100%;
	font-weight: normal;
}
dd {
	font-family: "BIZ UDGothic", "UD Digi Kyokasho N-R", "Meiryo", "Yu Gothic Medium", monospace;
	margin-left: 0;
}
